---
layout: default
---
{% assign author =  site.data.author %}

<div class="wrapper clearfix">

    {% include fixed-name.html %}
    
    <div class="right">
        <div class="inner">

            {% for section in site.data.sections %}
                {% if section == "skills" %}
                    {% include skills-section.html %}
                {% else %}
                    {% include section.html%}
                {% endif %}
            {% endfor %}

            <!-- {% include footer.html %} -->
            
        </div>
    </div>
</div>

{{ content }}